body{
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}

img{
	height: 60px;
	padding: 30px;
}
.inicio{
	background: url('images/bg.jpeg') no-repeat  center / cover transparent;

}

ul.navbar{
	list-style-type: none;
	float: right;

	
}
.navbar li{
	float: left;
	padding: 30px;
	color: gray;	
}

.contenido{
	color: white;
	text-align: center;
	font-size: 20px;
	padding: 25px;
	margin: 20px;

}

.boton_azul{
	background-color: blue;
	padding: 11px;
	color: white;
	font-size: 16px;
	border-radius: 5px;
	
}

.boton_verde{
	background-color: lightgreen;
	padding: 11px;
	color: white;
	font-size: 16px;
	border-radius: 5px;
	

}

.parrafo1{
	color:white;
	font-size: 20px;
	text-align: center;
	padding: 16px;

}

.texto{
	text-align: center;
	font-size: 12px;
	margin: 30px;
	position: relative;
	top: 31px;
}

.personas{
	height: 300px;
	top: 32px;
	position: relative;
	
}

.texto2{
	text-align: center;
	background-color:#eceaea;
	padding:30px;
	border: 1px solid #ded7d7;


	

}
.boton3{
	background-color:#3889ce;
	padding: 10px;
	color: white;
	font-size: 20px;
	border-radius: 5px;

}

.contacto{
	text-align: left;
	float: left;
	position: relative;
	left: 350px;
	padding-top: 50px;

}
.negrita{
	color: black;
	font-family: 'Lato', sans-serif;
}

.suscribete{
	text-align: left;
	float: left;
	position: relative;
	left:400px;
	padding-top:50px;
	
}

.ingresar_mail{
	background-color:#f5f5f5;
	color: lightgray;
	border-radius: 4px;
	border: 1px solid #d0d0d0;
	padding-right: 48px;
	padding-bottom: 10px;
	padding-top: 9px;

	
}
.enviar{
	background-color:#f5f5f5;
	color: black;
	border-radius: 4px;
	border: 1px solid #d0d0d0;
	padding:10px;

}

.barra_final{
	background-color: black;
	padding:1px;
	float: left;
	margin-top: 100px;
	height: 60px;
	width: 1497px;
	
}

.texto_final{
	position: relative;
	top: 344px;
	color: white;
	right: 386px;
	font-size: 15px;
}